*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a:after{
    content: "";
    position:absolute;
    background-color: #ffffff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}
a:hover{
    color: #ffffff;
}
a:hover:after{
    width: 100%;
}