.post-header{
    width: 100%;
    height: 500px;
    background: #FF5151;
}

.post-container{
    max-width: 750px;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.back-blogs{
    color: #ffc107;
    font-size: 16px;
}

.header-titulo{
    width: 90%;
    font-size: rem;
    color: #FFF;
    text-align: center;
    margin-bottom: 1rem;
}

.img-post{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.subtitulo{
    margin-top: 15px;
}

.post-content{
    margin-top: 14rem !important;
}

.post-text{
    text-align: justify;
    margin: 1rem 0;
    line-height: 1.7rem;
}



@media(max-width:800px){
    .post-container{
        margin: 0 auto;
        width: 95%;
    }
}
